@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
main,
audio,
video {
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
fieldset,
img {
  border: 0;
  vertical-align: top;
}
ol,
ul {
  list-style: none;
}
address,
em {
  font-style: normal;
}
strong {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #909090;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: center;
}

/* tbl_wrap 공통 */
thead th {
  font-weight: 500;
}
tbody td {
  font-size: 13px;
}
.tbl_wrap thead tr {
  height: 55px;
  border-bottom: 1px solid #eaeaea;
  padding: 0 14px 0 7px;
}
.tbl_wrap tbody tr {
  padding: 0 14px 0 7px;
  line-height: 52px;
}
.tbl_wrap tbody tr a {
  display: block;
  width: 100%;
}

input,
select,
textarea,
button {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}
body {
  -webkit-text-size-adjust: none;
}
body,
input,
button,
select,
textarea,
table {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  font-size: 14px;
  color: #909090;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* float 해제 */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* 공통 박스 스타일 */
.box_style {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

/****** 팝업창 공통 *****/
#popup_wrap {
  position: relative;
  z-index: 9999;
}
#popup_wrap .dimm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: none;
}

.popup_box {
  position: absolute;
  left: 50%;
  top: 5vh;
  width: 1000px;
  height: 90vh;
  background: #f5f6fe;
  transform: translateX(-500px);
  z-index: 9999;
  overflow: auto;
}
/* 스크롤바 커스텀 */
.popup_box::-webkit-scrollbar {
  -webkit-appearance: none;
}
.popup_box::-webkit-scrollbar-track {
  background-color: transparent;
}
.popup_box::-webkit-scrollbar:vertical {
  width: 5px;
}
.popup_box::-webkit-scrollbar:horizontal {
  height: 200px;
}
.popup_box::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 20px;
}
.popup_box::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}

/* tab 공통 */
.popup_tab {
  width: 120px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 12px 0px 0px 12px;
  background: #615eff;
  padding-top: 40px;
}
.popup_tab li {
  margin: 20px 0 0 9px;
}
.popup_tab li:first-child {
  margin-top: 0;
}
.popup_tab li a {
  display: block;
  width: 112px;
  height: 80px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.popup_tab li a svg {
  fill: rgba(255, 255, 255, 0.6);
}
.popup_tab li.on a svg {
  fill: #4b48fd;
}
.popup_tab li.on a {
  width: 112px;
  background-color: #f5f6fe;
  color: #4b48fd;
  border-radius: 12px 0px 0px 12px;
  position: relative;
}
.popup_tab li.on a::before,
.popup_tab li.on a::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1px;
}
.popup_tab li.on a::before {
  background: url(../images/bg_round_top.svg) no-repeat left top;
  top: -20px;
}
.popup_tab li.on a::after {
  background: url(../images/bg_round_bottom.svg) no-repeat right top;
  bottom: -20px;
}

.popup_tit {
  display: block;
  margin: 0 0 13px 10px;
  color: #383838;
  font-size: 16px;
}
.popup_box01 .tab_content {
  position: absolute;
  top: 0;
  right: 0;
  width: 880px;
  padding: 50px 40px 0;
}
.popup_close {
  position: absolute;
  top: 32px;
  right: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.333 2.548-1.88-1.88-7.454 7.453L2.546.668l-1.88 1.88 7.453 7.453-7.453 7.454 1.88 1.88 7.453-7.454 7.454 7.454 1.88-1.88L11.879 10l7.454-7.453Z' fill='%23383838'/%3E%3C/svg%3E")
    no-repeat;
}
.popup_close:hover {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.333 2.548-1.88-1.88-7.454 7.453L2.546.668l-1.88 1.88 7.453 7.453-7.453 7.454 1.88 1.88 7.453-7.454 7.454 7.454 1.88-1.88L11.879 10l7.454-7.453Z' fill='%234B48FD'/%3E%3C/svg%3E")
    no-repeat;
}
.popup_close:active {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.333 2.548-1.88-1.88-7.454 7.453L2.546.668l-1.88 1.88 7.453 7.453-7.453 7.454 1.88 1.88 7.453-7.454 7.454 7.454 1.88-1.88L11.879 10l7.454-7.453Z' fill='%23909090'/%3E%3C/svg%3E")
    no-repeat;
}

/* top/down 버튼 */
#btn_box {
  width: 1280px;
  float: right;
  top: 80%;
  display: none;
}
.btn {
  width: 42px;
  height: 80px;
  z-index: 9999;
  position: fixed;
  right: 2%;
  bottom: 2%;
  background: #4b48fd;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
}
.up svg {
  top: 0;
  left: 0;
  margin-left: 10px;
  position: absolute;
}
.down svg {
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 40px;
  position: absolute;
}
.center {
  display: block;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  opacity: 0.5;
  width: 22.91px;
  height: 1px;
  position: fixed;
  margin-top: 40px;
  z-index: 99999;
  position: relative;
}
