

#chart {
    /* width: 490px !important;
    height: 120px !important; */
}
  
.chart__container {
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: table-cell;
    vertical-align: middle;
}

.up_or_down {
    display: inline-block;
    position: relative;
    right: -100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #DD425A;
}

.up_or_down #import_percentage {
    display: flex;
    justify-content: center;
    align-items: center;
}